section {
  margin-top: 20px;
}

section ul {
  list-style-position: outside;
  padding-left: 20px;
}

section ul li::marker {
  font-size: .8em;
}

.headline-medium {
  color: rgb(0, 118, 165);
  font-weight: 600;
  font-size: 1.2em;
  padding-top: 8px;
  padding-bottom: 8px;
}

.headline-small {
  color: black;
  font-weight: 500;
  font-size: 1em;
  padding-top: 4px;
  padding-bottom: 4px;
}

.horizontal-point {
  display: flex;
}

.horizontal-point p {
  margin-right: 20px;
  /* Adjust as needed */
}

.horizontal-point div {
  margin-top: 4px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.horizontal-point div a {
  text-decoration: none;
  color: rgb(63, 62, 62);
}

.horizontal-point p:last-child {
  margin-right: 0;

}

.company-title {
  font-size: 20px;
  font-weight: 400;
}


.secondary-title,
.duration {
  font-size: calc(10px + 0.5vmin);
  color: rgb(63, 62, 62);
  margin-top: 4px;
}

.mid-bold {
  font-weight: 500;
}

.top-gap {
  margin-top: 24px;
}

.bottom-gap {
  margin-top: 24px;
}

li span,
div span {
  font-weight: 500;
}

.right-space {
  margin-right: 4px;
}

.mobile-icon {
  color: rgb(0, 118, 165);
  padding-right: 4px;
}

.social-icon {
  color: rgb(0, 118, 165);
  padding-right: 4px;
  font-size: 24px;
}